@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=checkbox]{
  @apply appearance-none overflow-hidden size-3 2xl:size-3.5 bg-transparent rounded-[2px] border border-grey-medium checked:bg-blue checked:border-blue relative after:content-[''] after:bg-[url('../assets/svgs/icon-tick.svg')] after:bg-no-repeat after:w-2 after:h-1.5 after:absolute after:top-1/2 after:left-1/2 after:-translate-y-1/2 after:-translate-x-1/2;
}
input[type=radio] {
  @apply appearance-none size-3 border border-grey-medium bg-transparent rounded-full checked:border-[3px] checked:border-blue cursor-pointer
}

.rounded-outline{
  @apply border border-grey-medium rounded-md py-1 px-2;
}
.dashboard-padding{
  @apply py-2 px-4;
}
